@import "./normalize.css";
:root {
  --color-x-primary: #31C3BD;
  --color-x-secondary: #65E9E4;
  --color-o-primary: #F2B137;
  --color-o-secondary: #FFC860;
  --color-background-primary: #1A2A33;
  --color-background-secondary: #1F3641;
  --color-accent-primary: #A8BFC9;
  --color-accent-secondary: #DBE8ED;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

/* Typography */

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  background: var(--color-background-primary);
  color: var(--color-accent-primary);
  font-family: 'Outfit', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  color: var(--color-accent-primary);
  font-weight: 700;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: 0.156rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.094rem;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: 0.078rem;
}

h4 {
  font-size: 1.4rem;
  letter-spacing: 0.063rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
}





/* .container {
  align-items: center;
  background: yellow;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  gap: 5px;
  height: 500px;
  justify-content: center;
  margin: 20vh auto;
  padding: 5px;
  text-align: center;
  width: 300px;
}

.box {
  background: dodgerblue;
  color: #fff;
  cursor: pointer;
  height: 90px;
  width: 90px;
}

.no-clicks {
  pointer-events: none;
}

#board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
} */


